<div class="modal gallery-upload-progress-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
        	<div class="modal-header bg-color">
                <h4 class="lf_title"><span>系统提示</span><span class="close" ng-click="$hide()">×</span></h4>
            </div>
            <div class="modal-body">
				是否确认删除该客户组？ 一旦删除，该客户组内的所有客户将被从该组内删除！
            </div>
            <div class="modal-footer confirm-f"> 
            	<input type="text" ng-model="editOption.confirmKey" placeholder="请输入“delete”以确认">               
            	<button type="button" class="btn btn-danger" ng-click="confirmDelete($hide)">确认删除</button>            
            </div>
        </div>
    </div>
</div>