<div class="event_popover">
  <span ng-click="$hide(); addItem('text')"><i class="ev_icon ic_basic"></i>{{'BASIC_TEXT' | translate}}</span>|
  <span ng-click="$hide(); addItem('phone')"><i class="ev_icon ic_phone"></i>{{'TELEPHONE' | translate}}</span>|
  <span ng-click="$hide(); addItem('email')"><i class="ev_icon ic_email"></i>{{'EMAIL' | translate}}</span>|
  <span ng-click="$hide(); addItem('radio')"><i class="ev_icon ic_single"></i>{{'SINGLE_SELECT' | translate}}</span>|
  <span ng-click="$hide(); addItem('checkbox')"><i class="ev_icon ic_multi"></i>{{'MULTISELECT' | translate}}</span>
</div>