<div class="search_input">
	<input type="text" ng-model="searchParams.key" placeholder="输入要选择的客户名/电话" ng-change="iptChange()">
	<!-- <ul ng-if="responseData.length > 0"> -->
	<ul ng-if="listFlag && !boxFlag" class="avatar-list">
		<li class="t-center">未找到匹配的客户？ <span class="blue-f" ng-click="showUserBox()">点此创建客户</span></li>
		<li ng-repeat="item in responseData" ng-mouseover="itemOver(item)" ng-click="selectItem(item)" class="ava-item n-info">
			<div class="itm-left">
				<img ng-src="{{::item.avatar}}" ng-if="item.avatar">
				<img src="./img/head.png" ng-if="!item.avatar">
			</div>
			<div>
				<div>{{::item.name}}</div>
				<div class="grey-f">{{::item.phone}}</div>
			</div>
		</li>
	</ul>
	<div class="user-box" ng-if="boxFlag">
		<div class="u-line">
			<div class="u-left">
				<span class="red-f">*</span>
				<span>姓名</span>
			</div>
			<div class="u-right">
				<input type="text" ng-model="userInfo.name">
			</div>
		</div>
		<div class="u-line">
			<div class="u-left">
				<span class="red-f">*</span>
				<span>手机</span>
			</div>
			<div class="u-right">
				<input type="text" placeholder="+86" class="area-ipt" ng-model="userInfo.phone_code">
				<input type="text" class="phone-ipt" ng-model="userInfo.phone">
			</div>
		</div>
		<div class="u-line">
			<div class="u-btn on" ng-click="createCustomer()">确定</div>
			<div class="u-btn" ng-click="showUserBox()">取消</div>
		</div>
	</div>
</div>

