<div class="modal center" role="dialog" id="pwd">
    <div class="modal-dialog admin-modal">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <h4 class="modal-title"><span style="vertical-align: middle;" ng-bind="title"></span></h4>
            </div>
            <div class="modal-body">
                <form>
                	<ul class="room_lsit">
                		<li class="list_li">
                            <span class="item_label">原始密码：</span>
                            <input type="password" class="default_text ipt_text" ng-model="passwordOptions.old_password">
                        </li>
                        <li class="list_li">
                			<span class="item_label">新密码：</span>
                			<input type="password" class="default_text ipt_text" ng-model="passwordOptions.first">
                		</li>
                        <li class="list_li">
                            <span class="item_label">确认密码：</span>
                            <input type="password" class="default_text ipt_text" ng-model="passwordOptions.second">
                        </li>
                	</ul>
                	<div class="m_bottom">
                		<a class="primary_btn" ng-click="changePwd($hide)">{{'OK' | translate}}</a>
                        <a class="op_btn" ng-click="cancel($hide)">{{'CANCEL' | translate}}</a>
						<!-- <a class="op_btn" ng-click="cancel($hide)" ng-if="currentAdmin.default_password_changed">{{'CANCEL' | translate}}</a> -->
                	</div>
				</form>
            </div>
        </div>
    </div>
</div>