<div class="input_select period new-drop" ng-class="{short: short}">
	<span class="choose" ng-click="showDropdown()"><i class="down_arr"></i></span>
	<div ng-bind="placeholder" ng-if="select.length === 0" ng-click="showDropdown()" class="dropdown_name"></div>
	<div ng-if="select.length > 0" ng-click="showDropdown()" class="dropdown_name">
		<span ng-repeat="sitem in select">{{sitem[name]}}<font ng-if="!$last">,</font></span>
	</div>

	<div ng-if="options.length > 0" class="time_down" ng-class="{show: showDrop, hide:!showDrop}">
		<ul>
			<li ng-if="noEmpty === false" ng-click="setSelectItem()">{{all}}</li>
			<li ng-repeat="item in options" ng-if="!item.is_super_admin" ng-click="setSelectItem(item)" title="{{item[name]}}" ng-class="{selected: item.selected && !selectedOptions[item.id], on: selectedOptions[item.id]}" >{{item[name]}}<span ng-if="selectedOptions[item.id]">(已配置)</span></li>
		</ul>
	</div>
</div>
