<div class="modal" role="dialog">
    <div class="modal-dialog modal-center modal-reate">
        <div class="modal-content group-add">
            <div class="modal-body clearfix">
                <div class="reate_clues">
                    <div class="reate_header clearfix">
                        <p class="clearfix">
                            <span><span>合同租赁</span>&gt;<span>租赁账单</span>&gt;<span>{{contractItem.serial_number}}</span>&gt;<span>账单</span></span>
                            <span ng-click="$hide()"></span>
                        </p>
                    </div>
                    <div class="reate_footer">
                        <div class="space-b-box c-billbox" ng-repeat="bill in billList">
                            <div class="b-title tit-top">
                                <span class="blake-txt">账单号: {{bill.serial_number}}</span>
                                <span class="blake-txt">合同号: {{contractItem.serial_number}}</span>
                                <span class="grey-txt">({{bill.invoiceBy}})</span>
                                <span class="f-right">{{bill.creation_date | date: 'yyyy-MM-dd'}}&nbsp;&nbsp;<span>{{billStatusDesc[bill.status]}}<!-- <span class="q_mark">i</span> --></span>
                                </span>
                            </div>
                            <div class="line-width">
                                <div class="line-item per20 t-left">
                                    <div class="item-con c-bill-hover">
                                        <span>{{bill.name}}</span>
                                        <br>
                                        <br>
                                        <span>{{bill.description}}</span>
                                    </div>
                                </div>
                                <div class="line-item per17">
                                    <div class="item-con">
                                        <span>{{bill.start_date | date: 'yyyy-MM-dd'}}<br/>-<br>{{bill.end_date | date: 'yyyy-MM-dd'}}</span>
                                    </div>
                                </div>
                                <div class="line-item per25">
                                    <div class="item-con">
                                        <!-- <div class="link-txt">
                                            <span>Masa.L</span>
                                        </div> -->
                                        <span>{{customerObj[contractItem.lessee_customer]}}</span>
                                    </div>
                                </div>
                                <div class="line-item per28">
                                    <div class="item-con">
                                        <div>{{bill.order_method}}</div>
                                        <div><span class="detail-tag widder t-shadow">{{bill.pay_channel | translate}}</span></div>
                                    </div>
                                </div>
                                <div class="line-item per10 last-box">
                                    <div class="item-con">
                                        <span class="status-txt">确认已收款</span>
                                        <br>
                                        <span class="status-txt">查看详情</span>
                                    </div>
                                </div>
                            </div>
                            <div class="b-bottom clearfix">
                                <div class="b-b-left" ng-if="bill.revision_note">
                                    <span>修改备注:  </span>
                                    <span>{{bill.revision_note}}</span>
                                </div>
                                <div class="b-b-right">
                                    <span>应付款:  </span>
                                    <span>{{bill.revised_amount | number: 2}}元</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>