<div class="sandBox_content"">
    <div class="tra-content">
        <div class="cus-select clearfix">
            <div class="cus-sel-left">
                <div class="c-s-dropdown">
                    <sb-dropdown select="" placeholder="placeholder.all" options="keywordList" flexible="true" no-empty></sb-dropdown>
                </div>
                <input type="text" class="t-f-input"><input type="button" value="搜索">
                <span ng-class="{'arrow-up': showFilter, 'arrow-down': !showFilter}" ng-click="showFilter = !showFilter;">更多筛选项</span>
            </div>
            <div class="cus-sel-right">
                <span class="plus" ng-click="createClue()"><img src="../img/u16881.png"></span>
                <span class="plus"><img src="../img/u16890.png"></span>
            </div>
        </div>
        <div class="t-f-box" ng-if="showFilter">
            <div class="t-f-line">
                <div class="t-f-left">
                    状态
                </div>
                <div class="t-f-right">
                    <div class="t-f-half t-f-s">
                        <div class="drop-wra">
                            <sb-dropdown select="filterOption.status" placeholder="placeholder.status" options="filterStatus" flexible="true" no-empty></sb-dropdown>
                        </div>
                    </div>
                    <div class="t-f-half t-f-b">
                        <span class="t-f-left small">社区</span>
                        <div class="t-four">
                            <sb-dropdown select="filterOption.buildingObj" placeholder="placeholder.community" options="buildings" flexible="true" no-empty></sb-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-f-line">
                <div class="t-f-left">
                    起租时间
                </div>
                <div class="t-f-right">
                    <div class="t-f-half t-f-s">
                        <div class="date_input">
                            <input type="text" ng-model="filterOption.start_date" data-max-date="{{filterOption.endDate}}" data-date-format="yyyy-MM-dd" data-autoclose="1" bs-datepicker>
                            <span><i class="fa fa-calendar"></i></span>
                        </div>
                        <div class="date_input">
                            <input type="text" ng-model="filterOption.end_date" data-max-date="{{filterOption.endDate}}" data-date-format="yyyy-MM-dd" data-autoclose="1" bs-datepicker>
                            <span><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="t-f-half t-f-b"">
                        <span class="t-f-left">创建时间</span>
                        <div class="date_input">
                            <input type="text" ng-model="filterOption.pay_start" data-max-date="{{filterOption.endDate}}" data-date-format="yyyy-MM-dd" data-autoclose="1" bs-datepicker>
                            <span><i class="fa fa-calendar"></i></span>
                        </div>
                        <div class="date_input">
                            <input type="text" ng-model="filterOption.pay_end" data-max-date="{{filterOption.endDate}}" data-date-format="yyyy-MM-dd" data-autoclose="1" bs-datepicker>
                            <span><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="t-btn-wra">
                <div class="t-search-btn" ng-click="contractReady()">
                    搜索
                </div>
                <span class="clear-btn" ng-click="clearSearchFilters()">清空</span>
            </div>
        </div>
        <div class="space-bot cus-bot">
            <div class="space-b-con cus-b-con">
                <div class="s-info-page p25">
                    <div class="line-width info-tit cus-nav">
                        <div class="b-span line-item cus_drop" data-placement="bottom-left" data-content-template="js/features/contract/partials/popover.html" data-animation="am-fade" data-auto-close="1" bs-popover></div>
                        <div class="line-item t-left">
                            空间信息
                        </div>
                        <div class="line-item t-left">
                            承租方信息
                        </div>
                        <div class="line-item t-left">
                            租用时间段
                        </div>
                        <div class="line-item t-left">
                            月租金
                        </div>
                        <div class="line-item t-left">
                            租赁押金
                        </div>
                        <div class="line-item t-left">
                            合同账单
                        </div>
                        <div class="line-item t-left" ng-click="contractBill()">
                            其他账单
                        </div>
                        <div class="line-item t-left" ng-click="contractReady()">
                            备注
                        </div>
                        <div class="line-item t-left set-line" ng-click="contract()">
                            创建合同
                        <div class="line-item cus_drop" ng-click="droptoggle()">
                            <div  class="cus-dropdown"  ng-if="cusDrop">
                                <span>设置列表字段</span>
                                <div dnd-list="dragModels.tableItems" class="drag-container">
                                    <div class="item" ng-repeat="item in dragModels.tableItems"
                                        dnd-draggable="item"
                                        dnd-moved="dragModels.tableItems.splice($index, 1)"
                                        dnd-effect-allowed="move"
                                        dnd-selected="dragModels.selected = item"
                                        ng-class="{'selected': dragModels.selected === item}"
                                        >
                                        <u ng-class="{'select-must':item.required, 'select': !item.checked, 'select-already': item.checked}" ng-click="checkItem(item)"></u>
                                        {{item.name}}
                                    </div>
                                </div>
                                <div><span class="r-save-btn" ng-click="updateTableColumn($event)">保存</span><span class="r-btn" ng-click="resetSelect($event)">重置</span></div>
                            </div>
                        </div>
                        <div class="line-item t-left" ng-repeat="header in tableHeaders" ng-bind="header.name"></div>
                    </div>
                    <div class="line-width info-tit cus-lists" ng-repeat='item in clueList'>
                        <div class="line-item t-left"></div>
                        <div class="line-item t-left" ng-repeat="value in tableHeaders">
                            <span ng-if="value.column === 'serial_number'" ng-click="showDetail(item)">{{item.customization[value.column]}}</span>
                            <span ng-if="value.column === 'appointment_user'">{{item.customer.name}}</span>
                            <span ng-if="value.column !== 'appointment_user'">{{item.customization[value.column]}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <pagination option="pageOptions" on-page="goPage(index)"></pagination>
    </div>
</div>   
