<div class="sandBox_content" ng-if="pageType == 'salesOffline'">
    <div class="tra-content">
    	<div class="t-f-box">
    		<div class="t-f-line">
    			<div class="t-f-left">
    				关键字
    			</div>
    			<div class="t-f-right">
                    <div class="t-f-half t-f-s">
        				<div class="drop-wra">
        					<sb-dropdown select="billFilterOptions.keyword" options="keywordList" flexible="true" no-empty></sb-dropdown>
        				</div>
        				<div class="ib-box" ng-if="billFilterOptions.keyword">
        					<input type="text" class="t-f-input small" ng-model="billFilterOptions.keyword_search" ng-keyup="$event.keyCode === 13 && searchList()">
        				</div>
                    </div>

                    <div class="t-f-half t-f-b">
                        <span class="t-f-left">金额范围</span>
                        <div class="date_input bigger">
                            <input type="number" ng-model="billFilterOptions.amount_start" ng-keyup="$event.keyCode === 13 && searchList()">
                        </div>
                        <span>-</span>
                        <div class="date_input bigger">
                            <input type="number" ng-model="billFilterOptions.amount_end" ng-keyup="$event.keyCode === 13 && searchList()">
                        </div>
                    </div>

    			</div>
    		</div>
    		<div class="t-f-line">
    			<div class="t-f-left">
    				推送时间
    			</div>
    			<div class="t-f-right">
    				<div class="t-f-half t-f-s">
    					<div class="date_input">
                            <input type="text" ng-model="billFilterOptions.send_start" data-max-date="{{billFilterOptions.send_end}}" data-date-format="yyyy-MM-dd"  data-autoclose="1" bs-datepicker>
                            <span><i class="fa fa-calendar"></i></span>
                        </div>
                        <span>-</span>
                        <div class="date_input">
                            <input type="text" ng-model="billFilterOptions.send_end" data-max-date="{{billFilterOptions.send_end}}" data-date-format="yyyy-MM-dd"  data-autoclose="1" bs-datepicker>
                            <span><i class="fa fa-calendar"></i></span>
                        </div>
    				</div>
    			</div>
    		</div>
            
    		<div class="t-btn-wra">
    			<div class="t-search-btn" ng-click="searchList()">
					搜索
				</div>
				<span class="clear-btn" ng-click="clearSearchFilters()">清空</span>
    		</div>
    	</div>

    	<div class="space-bot">
                <div class="space-b-head">
                    <div class="b-box" ng-click="switchTab('all')" ng-class="{on: tabType === 'all'}">
                        <div class="b-name">所有状态
                            <div class="b-line"></div>
                        </div>
                    </div>
                    <div class="b-box" ng-click="switchTab('verify')" ng-class="{on: tabType === 'verify'}">
                        <div class="b-name">待确认收款
                            <div class="b-line"></div>
                        </div>
                    </div>
                    <div class="b-box" ng-click="switchTab('paid')" ng-class="{on: tabType === 'paid'}">
                        <div class="b-name">已确认收款
                            <div class="b-line"></div>
                        </div>
                    </div>
                </div>
                <div class="space-b-con">
                    <!-- <div class="s-info-page p25" ng-if="tabType === 'space'"> -->
                    <div class="s-info-page p25">
                        <div class="line-width info-tit" ng-if="billsList.length > 0">
                            <div class="line-item per32 t-left">
                                商品
                            </div>
                            <div class="line-item per19">
                                租赁时间
                            </div>
                            <div class="line-item per15">
                                实付款
                            </div>
                            <div class="line-item per11">
                                付款人
                            </div>
                            <div class="line-item per11">
                                下单方式/渠道
                            </div>
                            <div class="line-item per11">
                                操作
                            </div>
                        </div>
                        <div class="space-b-box line-item90" ng-repeat="bill in billsList">
                            <div class="b-title tit-top">
                                <span class="blake-txt">账单号：{{bill.serial_number}}</span>
                                <!-- <span class="grey-txt" ng-if="item.product.sales_invoice && item.pay_channel != 'account'">({{item.product.room.building.company.name}})</span> -->
                                <span class="blake-txt">合同号：{{bill.lease.serial_number}}</span>

                                <span class="f-right" ng-bind="item.creation_date | date: 'yyyy-MM-dd'"></span>
                            </div>
                            <div class="line-width">
                                <div class="line-item per32 t-left">
                                    <div class="item-con">
                                        <div class="p-w-t">
                                            <div class="p-t no-pl">
                                                <div class="p-t-top hover">
                                                    {{bill.name}}
                                                </div>
                                                <div class="p-t-bot">
                                                    <span>{{bill.description}}</span>
                                                    <!-- <div class="for-hover">
                                                        <div class="detail-tag green" ng-if="item.appointed">
                                                            指
                                                            <div class="u-box just-show">
                                                                <img ng-src="{{userOptions[item.appointed].avatar}}" class="u-ava">
                                                                <div class="u-nick">{{userOptions[item.appointed].name}}</div>
                                                                <div class="u-info">
                                                                    <span ng-if="userOptions[item.appointed].phone">{{userOptions[item.appointed].phone}}</span>
                                                                    <span ng-if="userOptions[item.appointed].email">{{userOptions[item.appointed].email}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <span ng-if="item.appointed">指定用户</span>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line-item per19">
                                    <div class="item-con">
                                        <span>{{bill.start_date | date: 'yyyy-MM-dd'}}</span><br/>
                                        <span>-</span><br/>
                                        <span>{{bill.end_date | date: 'yyyy-MM-dd'}}</span>
                                    </div>
                                    
                                </div>
                                <div class="line-item per15">
                                    <div class="item-con">
                                        <div>{{bill.revised_amount | currency: '￥':2 }}</div>
                                    </div>

                                </div>
                                <div class="line-item per11">
                                    <div class="item-con">
                                        <div class="link-txt">
                                            {{::userOptions[bill.drawee].name}}
                                            <div class="u-box just-show">
                                                <img ng-src="{{userOptions[bill.drawee].avatar}}" class="u-ava">
                                                <div class="u-nick">{{userOptions[bill.drawee].name}}</div>
                                                <div class="u-info">
                                                    <span ng-if="userOptions[bill.drawee].phone">{{userOptions[bill.drawee].phone}}</span>
                                                    <span ng-if="userOptions[bill.drawee].email">{{userOptions[bill.drawee].email}}</span>
                                                </div>
                                                <span class="n-icon ic_msg" ng-click="generateChat(bill.drawee, bill.lease.product.room.building.id)" ng-if="customerservice[bill.lease.product.room.building.id]"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line-item per11">
                                    <div class="item-con">
                                        <div>后台推送</div>
                                        <div ng-if="bill.pay_channel"><span class="detail-tag widder t-shadow offline">销售方收款</span></div>
                                    </div>
                                </div>
                                <div class="line-item per11 last-box">
                                    <div class="item-con">
                                        <span>{{bill.status.toUpperCase() | translate}}</span>
                                        <div class="link-txt" ng-if="bill.status == 'verify'" ng-click="seePopup('remark', bill)" ng-if="currentAdmin.user.is_super_admin || currentAdmin.user.permissionMap[PERMISSION_AUDIT_KEY] === 2">确认已收款</div>
                                        <div class="link-txt" ng-click="seeBillDetail(bill)">查看详情</div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-title tit-bot">
                                <!-- <span class="link-txt f-right" ng-if="item.status === 'unpaid' && (currentAdmin.permissionMap[PERMISSION_SPACE_KEY + item.product.room.building.id] === 2 || currentAdmin.user.is_super_admin)" ng-click="seePopup('orderAmount')">更改</span> -->
                                <span class="blake-txt f-right" ng-if="bill.status === 'verify'">应付款: {{::bill.amount | currency: '￥':2 }}</span>
                                <span class="blake-txt f-right" ng-if="bill.status === 'paid'">实付款: {{::bill.revised_amount | currency: '￥':2 }}</span>
                            </div>
                        </div>
                        <div class="nodata" ng-if="billsList.length <= 0 && loaded">无此类账单</div>
                    </div>
                    
                    
                    <pagination option="pageOptions" on-page="goPage(index)"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sandBox_content" ng-if="pageType == 'salesOffline_billDetail'">
    <div class="tra-content">
        <div class="detail-page">
            <div class="detail-head">
                <span class="detail-tag red">{{billItem.status.toUpperCase() | translate}}</span>
                <span>账单号：{{billItem.serial_number}}</span>
                <span class="head-right link-txt" ng-click="seeRemarkDialog()">备注 <span class="grey-num">({{remarkList.length}})</span></span>
            </div>
            <div class="detail-mid">
                <div class="d-m-top">
                    <div class="d-t-item">
                        <span class="item-cat">租赁人 :</span>
                        <span>{{userOptions[billItem.drawee].name || userOptions[billItem.lease.drawee].name}}</span>
                    </div>
                    <div class="d-t-item">
                        <span class="item-cat">手机 :</span>
                        <span>{{userOptions[billItem.drawee].phone || userOptions[billItem.lease.drawee].phone}}</span>
                    </div>
                    <div class="d-t-item">
                        <span class="item-cat">邮箱 :</span>
                        <span>{{userOptions[billItem.drawee].email || userOptions[billItem.lease.drawee].email}}</span>
                    </div>
                    <div class="d-t-item">
                        <span class="item-cat">会员卡号 :</span>
                        <span>{{userOptions[billItem.drawee].cardNo || userOptions[billItem.lease.drawee].cardNo}}</span>
                    </div>
                </div>
                <div class="space-b-box">
                    <div class="b-title tit-top">
                        <div class="line-width info-tit">
                            <div class="line-item per32 t-left">
                                合同号: <span class="link-txt" ng-bind="billItem.lease.serial_number" ng-click="backToLeaseDetail()"></span>
                            </div>
                            <div class="line-item per38">
                                账单
                            </div>
                            <div class="line-item per15">
                                账单时间段
                            </div>
                            <div class="line-item per15">
                                账单金额
                            </div>
                        </div>
                    </div>
                    <div class="line-width">
                        <div class="line-item per32 t-left">
                            <div class="item-con">
                                <div class="p-w-t">
                                    <div class="p-p">
                                        <img ng-src="{{billItem.lease.product.room.attachment}}">
                                    </div>
                                    <div class="p-t">
                                        <div class="p-t-top">
                                            {{billItem.lease.product.room.city}}, {{billItem.lease.product.room.building.name}}, {{billItem.lease.product.room.number}}, {{billItem.lease.product.room.name}}
                                        </div>
                                        <div class="p-t-bot">
                                            <span class="detail-tag ora">长</span>
                                            <span>{{roomTypeDesc[billItem.lease.product.room.type].description}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="line-item per38">
                            <div class="item-con">
                                <div class="big-f">{{billItem.name}}</div>
                                <div>{{billItem.description}}</div>
                            </div>
                        </div>
                        <div class="line-item per15">
                            <div class="item-con">
                                <div>{{billItem.start_date | date: 'yyyy-MM-dd'}}</div>
                                <div>-</div>
                                <div>{{billItem.end_date | date: 'yyyy-MM-dd'}}</div>
                            </div>
                        </div>
                        <div class="line-item per15">
                            <div class="item-con">
                                <div class="big-f">{{billItem.amount}}元</div>
                                <div ng-if="billItem.status === 'unpaid'"><span class="link-txt" ng-click="seePopup('billAmount', billItem)" ng-if="currentAdmin.user.is_super_admin || currentAdmin.leasesMap[PERMISSION_LEASES_KEY + billItem.lease.product.room.building.id] === 2">更改价格</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="primary-btn" ng-if="billItem.status == 'verify'" ng-click="seePopup('remark')" ng-if="currentAdmin.user.is_super_admin || currentAdmin.user.permissionMap[PERMISSION_AUDIT_KEY] === 2">确认已收款</div>
                <div class="order_info no-bt" ng-if="billItem.pay_channel === 'offline' && billItem.transfer[0].transfer_attachments.length > 0">
                    <div class="offline">
                        <ul>
                            <li>
                                <span>账户名称：</span>
                                {{billItem.transfer[0].account_name}}
                            </li>
                            <li>
                                <span>银行账号：</span>
                                {{billItem.transfer[0].account_no}}
                            </li>
                        </ul>
                        <div class="off-pic">
                            <span class="pic-tit">汇款凭证:</span>
                            <div class="pic">
                                <img class="s-pic" ng-src="{{billItem.transfer[0].transfer_attachments[0].content}}">
                                <div class="pic-box">
                                    <img ng-src="{{billItem.transfer[0].transfer_attachments[0].content}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="detail-bot">
                <div class="d-b-left">
                    <div class="d-left-line">
                        <span class="line-cat">创建时间</span>
                        <span>{{billItem.creation_date | date: 'yyyy-MM-dd HH:mm'}}</span>
                    </div>
                    <div class="d-left-line">
                        <span class="line-cat">下单方式</span>
                        <span ng-if="billItem.order_method === 'backend'">后台推送</span>
                    </div>
                    <div class="d-left-line" ng-if="billItem.pay_channel">
                        <span class="line-cat">付款渠道</span>
                        <span class="detail-tag green">{{billItem.pay_channel | translate}}</span>
                    </div>
                    <div class="d-left-line" ng-if="billItem.payment_date">
                        <span class="line-cat" >付款时间</span>
                        <span>{{billItem.payment_date | date: 'yyyy-MM-dd HH:mm'}}</span>
                    </div>
                </div>
                <div class="d-b-right">
                    <div class="d-right-line" ng-if="billItem.reviser">
                        <div class="d-r-op grey-f">
                            <span class="d-r-name">{{userOptions[billItem.reviser].name}}</span>
                            <span>将订单金额改为 {{billItem.revised_amount | number: 2}}元</span>
                        </div>
                        <div class="d-r-left">
                            更改备注
                        </div>
                        <div class="d-r-right grey-f">
                            {{billItem.revision_note}}
                        </div>
                    </div>
                    <div class="d-right-line">
                        <div class="d-r-left">
                            价格模板
                        </div>
                        <div class="d-r-right">
                        </div>
                    </div>
                    <div class="d-right-line red-th">
                        <div class="d-r-left">
                            <span ng-if="billItem.status != 'unpaid'">实付款</span>
                            <span ng-if="billItem.status == 'unpaid'">应付款</span>
                        </div>
                        <div class="d-r-right">
                            {{billItem.revised_amount}} 元
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

